
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
font: normal normal 13px/16px "Open Sans", sans-serif;
background: #ccc;
}

.container{
padding: 20px;
width: 300px;
margin: 0 auto;
margin-top: 40px;
background: white;
border-radius: 5px;}

form {
display: inline-block;
}

input{
padding: 4px 15px 4px 5px;
}

#button{
display: inline-block;
background-color:#fc999b;
color:#ffffff;
border-radius: 5px;
text-align:center;
margin-top:2px;
padding: 5px 15px;
}

#button:hover{
cursor: pointer;
opacity: .8;}


.strike{text-decoration: line-through;}

li:hover{
  cursor: pointer;
 }

#mainTodo,#subTodo{
	list-style: none;
	padding:0px;

}


#subTodo .well{
	padding: 10px;
    margin-bottom: 15px;
}

#contenttodo{
	display: none;

}